.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .container label {
    font-weight: 700;
    font-size: 1rem;
    color: #313131;
  }
  
  .container input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 20px 30px;
    color: #000;
    font-size: 17px;
  }
  
  .container input:hover {
    border-color: #ccc;
  }
  
  .container input:focus {
    border-color: #9900ff;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
  }